body{
    margin: 0;
    padding: 0;
}
.table12{
    border-spacing: 10px;
}
.foot1{
    height: 50px;
    background: rgb(12, 12, 77);
}
.foot2{
    height: 300px;
    background: rgb(33, 33, 77);  
}
.table13{
    padding-top: 40px;
    padding-left: 100px;
}